<!DOCTYPE html>
<html >
  <head>
    <title>FoodMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="food-market" ng-controller="ProductController">
    Hello {{name}}
    <%= yield %>
  </body>
</html>
